body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}
.ig-thumbnail{
    width: 400px;
    height: 400px;
    float: left;
    overflow: hidden;
}
.ig-thumbnail img{
    width: 400px;
}
